{% extends "venti/settings/_layout" %}
{% import "_includes/forms" as forms %}


{% macro checkboxField(settings, attribute, field) %}

	{% import "_includes/forms" as forms %}
	{% set input %}
		{{ forms.checkbox({
			id: 		attribute,
			name: 		'settings['~ attribute ~']',
			checked: 	settings[attribute]
		}) }}
	{% endset %}

	{{ forms.field({
		id:       		  	attribute,
		label:            	field['label'],
        instructions:     	field['instructions'],
		required: 			false,
		errors: 			settings.getErrors(attribute)
	}, input) }}

{% endmacro %}

{% macro selectField(settings, attribute, field, options) %}

	{% import "_includes/forms" as forms %}
	{% set input %}
		{{ forms.selectField({
			id: 		attribute,
			name: 		'settings['~ attribute ~']',
			options: 	settings[attribute ~"s"],
			value: 		settings[attribute]
		}) }}
	{% endset %}

	{{ forms.field({
		id: 			attribute,
		label:  		field['label'],
		instructions: 	field['instructions'],
		errors: 		settings.getErrors(attribute)
	}, input) }}

{% endmacro %}

{% from _self import  checkboxField, selectField %}
{# 
{% set tField = {
    "label":        "Multisite"|t,
    "instructions": "Venti inputs are multisite."|t,
} %} #}

{% set durationField = {
    "label":        "Default Event Duration"|t,
    "instructions": "Duration of event when start date is set."|t,
} %}

{% set timeIntField = {
    "label":        "Time Select Interval"|t,
    "instructions": "Event date time interval amounts."|t,
} %}

{% block content %}
    <h2>{{ "Event Settings"|t }}</h2>

	<form action="" method="post">
	    <input type="hidden" name="action" value="venti/settings/save-settings">
		<input type="hidden" name="pluginHandle" value="venti">
	    <input type="hidden" name="redirect" value="{{ 'venti/settings/events'|hash }}">

	    {{ csrfInput() }}

		{{ selectField(settings, 'eventDuration', durationField, settings.getEventDurations()) }}

		{{ selectField(settings, 'timeInterval', timeIntField, settings.getTimeIntervals()) }}

		{# {% if craft.app.isMultiSite() %}
			<hr/>
			{{ checkboxField(settings, 'multisite', tField) }}
		{% endif %} #}

		<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
	</form>
{% endblock %}
