{% extends "venti/settings/_layout" %}
{% import "_includes/forms" as forms %}

{% macro textInputField(settings, attribute, field) %}

	{% import "_includes/forms" as forms %}
	{% set input %}
		{{ forms.textField({
			id: 	        attribute,
			name: 	        'settings['~ attribute ~']',
            placeholder:    field['placeholder'],
			value:          settings[attribute]
		}) }}
	{% endset %}

	{{ forms.field({
		id:               attribute,
		label:            field['label'],
        instructions:     field['instructions'],
		required:         false,
        first:            field['first'],
        autofocus:        field['autofocus'],
        errors:           settings.getErrors(attribute),
	}, input) }}

{% endmacro %}

{% macro selectField(settings, attribute, field, options) %}

	{% import "_includes/forms" as forms %}
	{% set input %}
		{{ forms.selectField({
			id: 		attribute,
			name: 		'settings['~ attribute ~']',
			options: 	settings[attribute ~"s"],
			value: 		settings[attribute]
		}) }}
	{% endset %}

	{{ forms.field({
		id: 			attribute,
		label:  		field['label'],
		instructions: 	field['instructions'],
		errors: 		settings.getErrors(attribute)
	}, input) }}

{% endmacro %}

{% macro checkboxField(settings, attribute, field) %}

	{% import "_includes/forms" as forms %}
	{% set input %}
		{{ forms.checkbox({
			id: 		attribute,
			name: 		'settings['~ attribute ~']',
			checked: 	settings[attribute]
		}) }}
	{% endset %}

	{{ forms.field({
		id:       		  	attribute,
		label:            	field['label'],
        instructions:     	field['instructions'],
		required: 			false,
		errors: 			settings.getErrors(attribute)
	}, input) }}

{% endmacro %}

{% set tField = {
    "label":        "Multisite"|t,
    "instructions": "Venti inputs are multisite."|t,
} %}

{% set durationField = {
    "label":        "Default Event Duration"|t,
    "instructions": "Duration of event when start date is set."|t,
} %}

{% set timeIntField = {
    "label":        "Time Select Interval"|t,
    "instructions": "Event date time interval amounts."|t,
} %}


{% set pnField = {
    "label":        "Plugin Name"|t,
    "instructions": "Plugin name for the end user."|t,
    "placeholder":  "",
    "first"      :  true,
    "autofocus"  :  true,
} %}

{% from _self import  checkboxField, selectField, textInputField %}

{% block content %}

	<h2>{{ 'Venti Settings'|t }}</h2>

	<form action="" method="post" accept-charset="UTF-8">

		<input type="hidden" name="action" value="venti/settings/save-settings">
        <input type="hidden" name="pluginHandle" value="venti">
		{# <input type="hidden" name="redirect" value="{{ 'venti/settings/general'|hash }}"> #}
        <input type="hidden" name="update_layout" value="1">

		{{ csrfInput() }}

		{{ textInputField(settings, 'pluginName', pnField) }}
        
        <hr>
        <div>
            <h3>{{ "Event Recurrence Settings"|t }}</h3>
            {{ selectField(settings, 'eventDuration', durationField, settings.getEventDurations()) }}

            {{ selectField(settings, 'timeInterval', timeIntField, settings.getTimeIntervals()) }}

            {# {% if craft.app.isMultiSite() %}
                <hr/>
                {{ checkboxField(settings, 'multisite', tField) }}
            {% endif %} #}
        </div>
		<hr>
		<div>
			<h2>{{ "Default Field Layout"|t }}</h2>
	        {% include "_includes/fieldlayoutdesigner" with {
	            fieldLayout: settings.getFieldLayout()
	        } only %}
		</div>

		<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
	</form>

{% endblock %}
