{% extends "venti/settings/_layout" %}
{% import "_includes/forms" as forms %}

{% macro textInputField(settings, attribute, field) %}

	{% import "_includes/forms" as forms %}
	{% set input %}
		{{ forms.textField({
			id: 	        attribute,
			name: 	        'settings['~ attribute ~']',
            placeholder:    field['placeholder'],
			value:          settings[attribute]
		}) }}
	{% endset %}

	{{ forms.field({
		id:               attribute,
		label:            field['label'],
        instructions:     field['instructions'],
		required:         false,
        first:            field['first'],
        autofocus:        field['autofocus'],
        errors:           settings.getErrors(attribute),
	}, input) }}

{% endmacro %}

{% macro selectField(settings, attribute, inputSettings, fieldSettings) %}

    {% import "_includes/forms" as forms %}
    {% set input %}
        {{ forms.selectField({
            id: attribute,
            name: 'settings['~ attribute ~']',
            value: settings[attribute],
            options: inputSettings['options'],
        }) }}
    {% endset %}

    {{ forms.field({
        id: attribute,
    }|merge(fieldSettings), input) }}

{% endmacro %}

{% from _self import textInputField, selectField %}

{% set pnField = {
    "label":        "Plugin Name"|t,
    "instructions": "Plugin name for the end user."|t,
    "placeholder":  "",
    "first"      :  true,
    "autofocus"  :  true,
} %}

{% block content %}

	<h2>{{ 'General Settings'|t }}</h2>

	<form action="" method="post">

		<input type="hidden" name="action" value="venti/settings/save-settings">
        <input type="hidden" name="pluginHandle" value="venti">
		<input type="hidden" name="redirect" value="{{ 'venti/settings/general'|hash }}">

		{{ csrfInput() }}

		{{ textInputField(settings, 'pluginName', pnField) }}

		<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
	</form>

{% endblock %}
