{% extends "venti/settings/_layout" %}
{% import "_includes/forms" as forms %}

{% macro checkboxField(settings, attribute, field) %}

	{% import "_includes/forms" as forms %}
	{% set input %}
		{{ forms.checkbox({
			id: 		attribute,
			name: 		'settings['~ attribute ~']',
			checked: 	settings[attribute]
		}) }}
	{% endset %}

	{{ forms.field({
		id:       		  	attribute,
		label:            	field['label'],
        instructions:     	field['instructions'],
		required: 			false,
		errors: 			settings.getErrors(attribute)
	}, input) }}

{% endmacro %}

{% from _self import  checkboxField %}

{# {% set hideRegistrationField = {
    "label":        "Hide Registration Fields"|t,
    "instructions": "When checked the default Registration fields will be hidden. *This will effect every group.*"|t,
} %}

{% set hideLocationField = {
    "label":        "Hide Location Fields"|t,
    "instructions": "When checked the default Location fields will be hidden. *This will effect every group.*"|t,
} %} #}

{% block content %}

	<h2>{{ 'Groups'|t }}</h2>

	<form action="" method="post">

        <input type="hidden" name="action" value="venti/settings/save-settings">
		<input type="hidden" name="pluginHandle" value="venti">
        <input type="hidden" name="redirect" value="{{ 'venti/settings/groups'|hash }}">
        <input type="hidden" name="update_layout" value="1">

        {{ csrfInput() }}

		{# <div>
			{{ checkboxField(settings, 'hideRegistration', hideRegistrationField) }}
			{{ checkboxField(settings, 'hideLocation', hideLocationField) }}
		</div> #}
		<br>
		<div>
			<h2>{{ "Default Field Layout"|t }}</h2>
	        {% include "_includes/fieldlayoutdesigner" with {
	            fieldLayout: settings.getFieldLayout()
	        } only %}
		</div>

        <input type="submit" class="btn submit" value="{{ "Save"|t }}">
	</form>

{% endblock %}
