{% extends "venti/settings/_layout" %}
{% import "_includes/forms" as forms %}
{% includeCssResource "venti/css/venti.css" %}
{% macro textInputField(settings, attribute, field) %}

	{% import "_includes/forms" as forms %}
	{% set input %}
		{{ forms.textField({
			id: 	        attribute,
			name:           'settings['~ attribute ~']',
            placeholder:    field['placeholder'],
			value:          settings.getAttribute(attribute)
		}) }}
	{% endset %}

	{{ forms.field({
		id:               attribute,
		label:            field['label'],
        instructions:     field['instructions'],
		required:         false,
        first:            field['first'],
        autofocus:        field['autofocus'],
        errors:           settings.getErrors(attribute),
	}, input) }}

{% endmacro %}

{% from _self import textInputField %}

{% set licField = {
    "label":        "License key"|t,
    "instructions": "Enter your Venti license key here."|t,
    "placeholder":  "",
    "first"      :  true,
    "autofocus"  :  true,
} %}

{% block content %}

    <h2>{{ "License"|t }}</h2>
    <form action="" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="venti/settings/saveSettings">
        <input type="hidden" name="redirect" value="venti/settings/license">
        {{ csrfInput() }}

        {{ textInputField(settings, 'license', licField) }}

		{% if license is defined %}
			{% if license.valid == "" and license.testDomain == 0 %}
				<div class="license-status error" data-icon="alert">{{ "Please purchase a Venti license at:"|t }} <a href="https://gum.co/venti" target="_blank" alt="{{ "Purchase Venti"|t }}">https://gum.co/venti</a></div>
			{% elseif license.valid == "" and license.testDomain == 1 %}
				<div class="license-status error" data-icon="alert">{{ "Installed as trial. Please purchase a Venti license at:"|t }} <a href="https://gum.co/venti" target="_blank" alt="{{ "Purchase Venti"|t }}">https://gum.co/venti</a></div>
			{% elseif license.valid and (license.testDomain == 0 or license.testDomain == 1) %}
				<div class="license-status installed" data-icon="check">{{ 'Thank you for purchasing Venti! Support at:'|t }} <a href="https://venticalendar.io/support" target="_blank" alt="{{ "Venti Support"|t }}">https://venticalendar.io/support</a></div>
			{% endif %}
		{% else %}
			<div class="license-status error" data-icon="alert">{{ "Please purchase a Venti license at:"|t }} <a href="https://gum.co/venti" target="_blank" alt="{{ "Purchase Venti"|t }}">https://gum.co/venti</a></div>
		{% endif %}

		<br>

        <input type="submit" class="btn submit" value="{{ "Save"|t }}">
    </form>
{% endblock %}
